In [ ]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [3]:
movies = pd.read_csv("C:/Users/91728/Downloads/Movie+Assignment+Data.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [41]:
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,None,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,None,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,None,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,None,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,None,NaN,NaN,7.1,0

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [7]:
# Write your code for inspection here
movies.shape
movies.columns
movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [10]:
# Write your code for column-wise null count here
movies.isnull().sum(axis=0)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [11]:
# Write your code for row-wise null count here
movies.isnull().sum(axis=1)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [12]:
# Write your code for column-wise null percentages here
round(100*(movies.isnull().sum(axis=0)/len(movies.index)),2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [32]:
movies=movies.drop('color',axis=1)
movies=movies.drop('director_facebook_likes',axis=1)
movies=movies.drop('actor_1_facebook_likes',axis=1)
movies=movies.drop('actor_2_facebook_likes',axis=1)

KeyError: "['color'] not found in axis"

In [31]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operation

movies=movies.drop('actor_3_facebook_likes',axis=1)
movies=movies.drop('actor_2_name',axis=1)
movies=movies.drop('cast_total_facebook_likes',axis=1)
movies=movies.drop('actor_3_name',axis=1)
movies=movies.drop('duration',axis=1)
movies=movies.drop('facenumber_in_poster',axis=1)
movies=movies.drop('content_rating',axis=1)
movies=movies.drop('country',axis=1)
movies=movies.drop('movie_imdb_link',axis=1)
movies=movies.drop('aspect_ratio',axis=1)
movies=movies.drop('plot_keywords',axis=1)
round(100*(movies.isnull().sum()/len(movies.index)),2)

director_name              2.06
num_critic_for_reviews     0.99
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [33]:
# Write your code for dropping the rows here
movies[movies.isnull().sum(axis=1)>5]

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
4,Doug Walker,NaN,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,NaN,NaN,NaN,7.1,0
279,Christopher Barnard,NaN,NaN,Comedy,Mathew Buck,"10,000 B.C.",6,NaN,NaN,NaN,NaN,7.2,0
2342,NaN,NaN,NaN,Drama|Family,Peter Vaughan,The Doombolt Chase,18,NaN,English,NaN,NaN,7.2,0
2370,NaN,NaN,NaN,Comedy|Drama|Reality-TV|Romance,Nicole 'Snooki' Polizzi,"Gone, Baby, Gone",29,NaN,English,NaN,NaN,6.6,0

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [34]:
# Write your code for dropping the rows here
len(movies[movies.isnull().sum(axis=1)>5])

4

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [37]:
# Write your code for filling the NaN values in the 'language' column here
movies['language']=movies['language'].fillna('English',inplace=True)

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [40]:
# Write your code for checking number of retained rows here
len(movies[movies.isnull().sum(axis=1)>5])
100*(len(movies[movies.isnull().sum(axis=1)>5].index)/len(movies.index))

0.15863573269879042

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [46]:
# Write your code for unit conversion here
movies.budget=movies.budget.floordiv(100000)

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [51]:
# Write your code for creating the profit column here
movies['profit']=movies.gross-movies.budget

In [53]:
# Write your code for sorting the dataframe here
movies.sort_values(by='profit',ascending=False)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,None,0.0,2009.0,7.9,33000,760505847.0
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,None,0.0,1997.0,7.7,26000,658672302.0
29,Colin Trevorrow,644.0,652177271.0,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,None,0.0,2015.0,7.0,150000,652177271.0
17,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,None,0.0,2012.0,8.1,123000,623279547.0
794,Joss Whedon,703.0,623279547.0,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,None,0.0,2012.0,8.1,123000,623279547.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,Anthony Vallone,NaN,NaN,Crime|Drama,Richard Jewell,The Mongol King,36,1.0,None,0.0,2005.0,7.8,4,NaN
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,None,NaN,2013.0,7.7,84,NaN
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,None,NaN,NaN,7.5,32000,NaN
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,None,0.0,2013.0,6.3,16,NaN
5041,Daniel Hsia,14.0,10443.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,None,NaN,2012.0,6.3,660,NaN

In [55]:
top10 = movies['profit'].nlargest(10)
top10

0       760505847.0
26      658672302.0
29      652177271.0
17      623279547.0
794     623279547.0
66      533316061.0
240     474544677.0
3024    460935665.0
8       458991599.0
3       448130642.0
Name: profit, dtype: float64

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [58]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(subset='profit',keep=False,inplace=True)

In [72]:
# Write code for repeating subtask 2 here
top10 = movies['profit'].nlargest(10)
top10

0       760505847.0
26      658672302.0
29      652177271.0
66      533316061.0
240     474544677.0
3024    460935665.0
8       458991599.0
3       448130642.0
582     436471036.0
3080    434949459.0
Name: profit, dtype: float64

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [77]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies[movies["num_voted_users"] > 25000]
IMDb_Top_250 = IMDb_Top_250.sort_values("imdb_score", ascending = False).head(250)
IMDb_Top_250["rank"] = list(range(1,251))
IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
1937,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,None,0.0,1994.0,9.3,108000,28341469.0,1
3466,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,None,0.0,1972.0,9.2,43000,134821952.0,2
2837,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,None,0.0,1974.0,9.0,14000,57300000.0,3
66,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,None,0.0,2008.0,9.0,37000,533316061.0,4
339,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,None,0.0,2003.0,8.9,16000,377019252.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,Robert Zemeckis,125.0,118500000.0,Adventure|Comedy|Sci-Fi,Lea Thompson,Back to the Future Part II,340085,327.0,None,0.0,1989.0,7.8,12000,118500000.0,246
4168,Mel Brooks,121.0,119500000.0,Comedy|Western,Madeline Kahn,Blazing Saddles,95294,363.0,None,0.0,1974.0,7.8,12000,119500000.0,247
2973,Richard Curtis,274.0,15294553.0,Drama|Fantasy|Romance,Tom Hughes,About Time,202341,391.0,None,0.0,2013.0,7.8,105000,15294553.0,248
1211,Michael Mann,89.0,72455275.0,Action|Adventure|Drama|Romance|War,Wes Studi,The Last of the Mohicans,113068,382.0,None,0.0,1992.0,7.8,0,72455275.0,249
2900,James Foley,120.0,10725228.0,Crime|Drama|Mystery,Kevin Spacey,Glengarry Glen Ross,75675,365.0,None,0.0,1992.0,7.8,0,10725228.0,250

In [81]:
Top_Foreign_Lang_Film =IMDb_Top_250[IMDb_Top_250['language']!='English']
Top_Foreign_Lang_Film.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
1937,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,None,0.0,1994.0,9.3,108000,28341469.0,1
3466,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,None,0.0,1972.0,9.2,43000,134821952.0,2
2837,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,None,0.0,1974.0,9.0,14000,57300000.0,3
66,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,None,0.0,2008.0,9.0,37000,533316061.0,4
339,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,None,0.0,2003.0,8.9,16000,377019252.0,5

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [83]:
# Write your code for extracting the top 10 directors here
top10director = movies.pivot_table(values = 'imdb_score', index = 'director_name', aggfunc = 'mean')
top10director = top10director.sort_values(by = 'imdb_score', ascending = False)
top10director = top10director.head(10)
top10director

                                  imdb_score
director_name
Sergio Leone                           8.650
Tony Kaye                              8.600
Charles Chaplin                        8.600
Majid Majidi                           8.500
Damien Chazelle                        8.500
Florian Henckel von Donnersmarck       8.500
Ron Fricke                             8.500
Christopher Nolan                      8.425
Marius A. Markevicius                  8.400
Richard Marquand                       8.400

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [84]:
# Write your code for extracting the first two genres of each movie here
movies["genre_1"] = movies["genres"].str.split("|").str.get(0)
movies["genre_2"] = movies["genres"].str.split("|").str.get(1)
movies["genre_2"] = movies["genre_2"].fillna(movies["genre_1"])
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
1937,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,None,0.0,1994.0,9.3,108000,28341469.0,Crime,Drama
3466,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,None,0.0,1972.0,9.2,43000,134821952.0,Crime,Drama
2837,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,None,0.0,1974.0,9.0,14000,57300000.0,Crime,Drama
66,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,None,0.0,2008.0,9.0,37000,533316061.0,Action,Crime
339,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,The Lord of the Rings: The Return of the King,1215718,3189.0,None,0.0,2003.0,8.9,16000,377019252.0,Action,Adventure

In [86]:
movies_by_segment = movies.groupby(['genre_1','genre_2'])

In [87]:
PopGenre = pd.DataFrame(movies_by_segment.gross.mean()).sort_values("gross", ascending = False).head()
PopGenre

                            gross
genre_1   genre_2
Family    Sci-Fi     4.349495e+08
Adventure Sci-Fi     2.286278e+08
          Animation  1.151788e+08
          Fantasy    1.151079e+08
Action    Adventure  1.070037e+08

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [92]:
# Write your code for creating three new dataframes here

Meryl_Streep =movies[movies['actor_1_name']=='Meryl Streep']
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
1925,Stephen Daldry,174.0,41597830.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,None,0.0,2002.0,7.6,0,41597830.0,Drama,Romance
1575,Sydney Pollack,66.0,87100000.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,None,0.0,1985.0,7.2,0,87100000.0,Biography,Drama
1674,Carl Franklin,64.0,23209440.0,Drama,Meryl Streep,One True Thing,9283,112.0,None,0.0,1998.0,7.0,592,23209440.0,Drama,Drama
1204,Nora Ephron,252.0,94125426.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,None,0.0,2009.0,7.0,13000,94125426.0,Biography,Drama
1408,David Frankel,208.0,124732962.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,None,0.0,2006.0,6.8,0,124732962.0,Comedy,Drama
3135,Robert Altman,211.0,20338609.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,None,0.0,2006.0,6.8,683,20338609.0,Comedy,Drama
410,Nancy Meyers,187.0,112703470.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,None,0.0,2009.0,6.6,0,112703470.0,Comedy,Drama
2781,Phyllida Lloyd,331.0,29959436.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,None,0.0,2011.0,6.4,18000,29959436.0,Biography,Drama
1106,Curtis Hanson,42.0,46815748.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,None,0.0,1994.0,6.3,0,46815748.0,Action,Adventure
1618,David Frankel,234.0,63536011.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,None,0.0,2012.0,6.3,0,63536011.0,Comedy,Drama
1483,Robert Redford,227.0,14998070.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,None,0.0,2007.0,6.2,0,14998070.0,Drama,Thriller

In [91]:
Leo_Caprio = movies[movies["actor_1_name"] == "Leonardo DiCaprio"]
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
97,Christopher Nolan,642.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,None,0.0,2010.0,8.8,175000,292568851.0,Action,Adventure
296,Quentin Tarantino,765.0,162804648.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,None,0.0,2012.0,8.5,199000,162804648.0,Drama,Western
361,Martin Scorsese,352.0,132373442.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,None,0.0,2006.0,8.5,29000,132373442.0,Crime,Drama
308,Martin Scorsese,606.0,116866727.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,None,0.0,2013.0,8.2,138000,116866727.0,Biography,Comedy
452,Martin Scorsese,490.0,127968405.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,None,0.0,2010.0,8.1,53000,127968405.0,Mystery,Thriller
179,Alejandro G. Iñárritu,556.0,183635922.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,None,0.0,2015.0,8.1,190000,183635922.0,Adventure,Drama
911,Steven Spielberg,194.0,164435221.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,None,0.0,2002.0,8.0,15000,164435221.0,Biography,Crime
307,Edward Zwick,166.0,57366262.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,None,0.0,2006.0,8.0,14000,57366262.0,Adventure,Drama
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,None,0.0,1997.0,7.7,26000,658672302.0,Drama,Romance
257,Martin Scorsese,267.0,102608827.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,None,0.0,2004.0,7.5,0,102608827.0,Biography,Drama
326,Martin Scorsese,233.0,77679638.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,None,0.0,2002.0,7.5,0,77679638.0,Crime,Drama
1114,Sam Mendes,323.0,22877808.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,None,0.0,2008.0,7.3,0,22877808.0,Drama,Romance
641,Ridley Scott,238.0,39380442.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,None,0.0,2008.0,7.1,0,39380442.0,Action,Drama
2757,Baz Luhrmann,106.0,46338728.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,None,0.0,1996.0,6.8,10000,46338728.0,Drama,Romance
2067,Jerry Zaks,45.0,12782508.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,None,0.0,1996.0,6.7,1000,12782508.0,Drama,Drama
1453,Clint Eastwood,392.0,37304950.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,None,0.0,2011.0,6.6,16000,37304950.0,Biography,Crime
990,Danny Boyle,118.0,39778599.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,None,0.0,2000.0,6.6,0,39778599.0,Adventure,Drama
1422,Randall Wallace,83.0,56876365.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,None,0.0,1998.0,6.4,0,56876365.0,Action,Adventure
1560,Sam Raimi,63.0,18636537.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,None,0.0,1995.0,6.4,0,18636537.0,Action,Thriller

In [93]:
Brad_Pitt =movies[movies['actor_1_name']=='Brad Pitt']
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
683,David Fincher,315.0,37023395.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,None,0.0,1999.0,8.8,48000,37023395.0,Drama,Drama
2898,Tony Scott,122.0,12281500.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,None,0.0,1993.0,8.0,15000,12281500.0,Action,Crime
400,Steven Soderbergh,186.0,183405771.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,None,0.0,2001.0,7.8,0,183405771.0,Crime,Thriller
101,David Fincher,362.0,127490802.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,None,0.0,2008.0,7.8,23000,127490802.0,Drama,Fantasy
940,Neil Jordan,120.0,105264608.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,None,0.0,1994.0,7.6,11000,105264608.0,Drama,Fantasy
470,David Ayer,406.0,85707116.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,None,0.0,2014.0,7.6,82000,85707116.0,Action,Drama
1722,Andrew Dominik,273.0,3904982.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,None,0.0,2007.0,7.5,0,3904982.0,Biography,Crime
2204,Alejandro G. Iñárritu,285.0,34300771.0,Drama,Brad Pitt,Babel,243799,908.0,None,0.0,2006.0,7.5,0,34300771.0,Drama,Drama
147,Wolfgang Petersen,220.0,133228348.0,Adventure,Brad Pitt,Troy,381672,1694.0,None,0.0,2004.0,7.2,0,133228348.0,Adventure,Adventure
382,Tony Scott,142.0,26871.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,None,0.0,2001.0,7.0,0,26871.0,Action,Crime
611,Jean-Jacques Annaud,76.0,37901509.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,None,0.0,1997.0,7.0,0,37901509.0,Adventure,Biography
1490,Terrence Malick,584.0,13303319.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,None,0.0,2011.0,6.7,39000,13303319.0,Drama,Fantasy
792,Patrick Gilmore,98.0,26288320.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,None,0.0,2003.0,6.7,880,26288320.0,Adventure,Animation
255,Doug Liman,233.0,186336103.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,None,0.0,2005.0,6.5,0,186336103.0,Action,Comedy
254,Steven Soderbergh,198.0,125531634.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,None,0.0,2004.0,6.4,0,125531634.0,Crime,Thriller
2682,Andrew Dominik,414.0,14938570.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,None,0.0,2012.0,6.2,20000,14938570.0,Crime,Thriller
2333,Angelina Jolie Pitt,131.0,531009.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,None,0.0,2015.0,5.3,0,531009.0,Drama,Romance

In [96]:
# Write your code for combining the three dataframes here
combined = pd.concat([Meryl_Streep,Leo_Caprio,Brad_Pitt ], axis = 0)
combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
1925,Stephen Daldry,174.0,41597830.0,Drama|Romance,Meryl Streep,The Hours,102123,660.0,None,0.0,2002.0,7.6,0,41597830.0,Drama,Romance
1575,Sydney Pollack,66.0,87100000.0,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,None,0.0,1985.0,7.2,0,87100000.0,Biography,Drama
1674,Carl Franklin,64.0,23209440.0,Drama,Meryl Streep,One True Thing,9283,112.0,None,0.0,1998.0,7.0,592,23209440.0,Drama,Drama
1204,Nora Ephron,252.0,94125426.0,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,None,0.0,2009.0,7.0,13000,94125426.0,Biography,Drama
1408,David Frankel,208.0,124732962.0,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,None,0.0,2006.0,6.8,0,124732962.0,Comedy,Drama
3135,Robert Altman,211.0,20338609.0,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,None,0.0,2006.0,6.8,683,20338609.0,Comedy,Drama
410,Nancy Meyers,187.0,112703470.0,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,None,0.0,2009.0,6.6,0,112703470.0,Comedy,Drama
2781,Phyllida Lloyd,331.0,29959436.0,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,None,0.0,2011.0,6.4,18000,29959436.0,Biography,Drama
1106,Curtis Hanson,42.0,46815748.0,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,None,0.0,1994.0,6.3,0,46815748.0,Action,Adventure
1618,David Frankel,234.0,63536011.0,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,None,0.0,2012.0,6.3,0,63536011.0,Comedy,Drama
1483,Robert Redford,227.0,14998070.0,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,None,0.0,2007.0,6.2,0,14998070.0,Drama,Thriller
97,Christopher Nolan,642.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,None,0.0,2010.0,8.8,175000,292568851.0,Action,Adventure
296,Quentin Tarantino,765.0,162804648.0,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,None,0.0,2012.0,8.5,199000,162804648.0,Drama,Western
361,Martin Scorsese,352.0,132373442.0,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,None,0.0,2006.0,8.5,29000,132373442.0,Crime,Drama
308,Martin Scorsese,606.0,116866727.0,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,None,0.0,2013.0,8.2,138000,116866727.0,Biography,Comedy
452,Martin Scorsese,490.0,127968405.0,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,None,0.0,2010.0,8.1,53000,127968405.0,Mystery,Thriller
179,Alejandro G. Iñárritu,556.0,183635922.0,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,None,0.0,2015.0,8.1,190000,183635922.0,Adventure,Drama
911,Steven Spielberg,194.0,164435221.0,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,None,0.0,2002.0,8.0,15000,164435221.0,Biography,Crime
307,Edward Zwick,166.0,57366262.0,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,None,0.0,2006.0,8.0,14000,57366262.0,Adventure,Drama
26,James Cameron,315.0,658672302.0,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,None,0.0,1997.0,7.7,26000,658672302.0,Drama,Romance
257,Martin Scorsese,267.0,102608827.0,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,None,0.0,2004.0,7.5,0,102608827.0,Biography,Drama
326,Martin Scorsese,233.0,77679638.0,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,None,0.0,2002.0,7.5,0,77679638.0,Crime,Drama
1114,Sam Mendes,323.0,22877808.0,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,None,0.0,2008.0,7.3,0,22877808.0,Drama,Romance
641,Ridley Scott,238.0,39380442.0,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,None,0.0,2008.0,7.1,0,39380442.0,Action,Drama
2757,Baz Luhrmann,106.0,46338728.0,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,None,0.0,1996.0,6.8,10000,46338728.0,Drama,Romance
2067,Jerry Zaks,45.0,12782508.0,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,None,0.0,1996.0,6.7,1000,12782508.0,Drama,Drama
1453,Clint Eastwood,392.0,37304950.0,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,None,0.0,2011.0,6.6,16000,37304950.0,Biography,Crime
990,Danny Boyle,118.0,39778599.0,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,None,0.0,2000.0,6.6,0,39778599.0,Adventure,Drama
1422,Randall Wallace,83.0,56876365.0,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,None,0.0,1998.0,6.4,0,56876365.0,Action,Adventure
1560,Sam Raimi,63.0,18636537.0,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,None,0.0,1995.0,6.4,0,18636537.0,Action,Thriller
683,David Fincher,315.0,37023395.0,Drama,Brad Pitt,Fight Club,1347461,2968.0,None,0.0,1999.0,8.8,48000,37023395.0,Drama,Drama
2898,Tony Scott,122.0,12281500.0,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,None,0.0,1993.0,8.0,15000,12281500.0,Action,Crime
400,Steven Soderbergh,186.0,183405771.0,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,None,0.0,2001.0,7.8,0,183405771.0,Crime,Thriller
101,David Fincher,362.0,127490802.0,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,None,0.0,2008.0,7.8,23000,127490802.0,Drama,Fantasy
940,Neil Jordan,120.0,105264608.0,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,None,0.0,1994.0,7.6,11000,105264608.0,Drama,Fantasy
470,David Ayer,406.0,85707116.0,Action|Drama|War,Brad Pitt,Fury,303185,701.0,None,0.0,2014.0,7.6,82000,85707116.0,Action,Drama
1722,Andrew Dominik,273.0,3904982.0,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,None,0.0,2007.0,7.5,0,3904982.0,Biography,Crime
2204,Alejandro G. Iñárritu,285.0,34300771.0,Drama,Brad Pitt,Babel,243799,908.0,None,0.0,2006.0,7.5,0,34300771.0,Drama,Drama
147,Wolfgang Petersen,220.0,133228348.0,Adventure,Brad Pitt,Troy,381672,1694.0,None,0.0,2004.0,7.2,0,133228348.0,Adventure,Adventure
382,Tony Scott,142.0,26871.0,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,None,0.0,2001.0,7.0,0,26871.0,Action,Crime
611,Jean-Jacques Annaud,76.0,37901509.0,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,None,0.0,1997.0,7.0,0,37901509.0,Adventure,Biography
1490,Terrence Malick,584.0,13303319.0,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,None,0.0,2011.0,6.7,39000,13303319.0,Drama,Fantasy
792,Patrick Gilmore,98.0,26288320.0,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,None,0.0,2003.0,6.7,880,26288320.0,Adventure,Animation
255,Doug Liman,233.0,186336103.0,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,None,0.0,2005.0,6.5,0,186336103.0,Action,Comedy
254,Steven Soderbergh,198.0,125531634.0,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,None,0.0,2004.0,6.4,0,125531634.0,Crime,Thriller
2682,Andrew Dominik,414.0,14938570.0,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,None,0.0,2012.0,6.2,20000,14938570.0,Crime,Thriller
2333,Angelina Jolie Pitt,131.0,531009.0,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,None,0.0,2015.0,5.3,0,531009.0,Drama,Romance

In [97]:
# Write your code for grouping the combined dataframe here
movies_by_lead = combined.groupby('actor_1_name')

In [98]:
# Write the code for finding the mean of critic reviews and audience reviews here
print(movies_by_lead["num_critic_for_reviews"].mean())
print(movies_by_lead["num_user_for_reviews"].mean())

actor_1_name
Brad Pitt            245.000000
Leonardo DiCaprio    313.368421
Meryl Streep         181.454545
Name: num_critic_for_reviews, dtype: float64
actor_1_name
Brad Pitt            742.352941
Leonardo DiCaprio    931.473684
Meryl Streep         297.181818
Name: num_user_for_reviews, dtype: float64

**Checkpoint 6:** `Leonardo` has aced both the lists!